<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<bean
        name="customerservice"
        class="com.samplespring.service.impl.CustomerServiceImpl">

    </bean>-->

    <bean name="custRepo" class="com.samplespring.repository.impl.HibernateCustomerRepositoryImpl" />

    <bean name="custService" class="com.samplespring.service.impl.CustomerServiceImpl" autowire="byType">

        <!--Setter Injection-->
<!--        <property name="customerRepository" ref="custRepo" />-->

        <!--Constructor Injection-->
<!--        <constructor-arg index="0" ref="custRepo" />-->
    </bean>

</beans>