<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--<bean
        name="customerservice"
        class="com.samplespring.service.impl.CustomerServiceImpl">

    </bean>-->

    <context:annotation-config/>
    <context:property-placeholder location="app.properties" />

    <bean name="custRepo" class="com.samplespring.repository.impl.HibernateCustomerRepositoryImpl">
            <!--<property name="dbUserName" value="${db.user}"/>-->
    </bean>
    <bean name="custService" class="com.samplespring.service.impl.CustomerServiceImpl">
        <property name="customerRepository" ref="custRepo" />
    </bean>

</beans>